<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="fet loader, aye loader, ауе, aye, yougame, csgo, читы, кряк вантапа, ahk, opensource, loader">
    <meta name="description" content="A simple cheats loader written in AHK"> 
    <meta name="theme-color" content="#157878">
    <meta name="author" content="clownless: https://clownless.xyz">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Chivo:400,700">
    <title>FET Loader | A simple cheats loader written in AHK.</title>
    <meta name="keywords" content="fet loader, aye loader, ауе, aye, yougame, csgo, читы, кряк вантапа, ahk, opensource, loader, фет лоадер">
    <meta name="description" content="A simple cheats loader written in AHK">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">FET Loader</h1>
      <h2 class="project-tagline">A simple CS:GO cheats loader written in AHK.</h2>
        <a href="https://gitlab.com/FETLoader" class="btn">View on Gitlab</a>
        <a href="https://gitlab.com/FETLoader/FETLoader/-/releases/" class="btn">Download latest release</a>
        <a href="https://t.me/ayeloader" class="btn">Telegram channel</a>
        <a href="https://vk.com/ayeloader" class="btn">VK Group</a>
        <a href="https://docs.fetloader.xyz" class="btn">View documentation</a>
    </header>

    <style>
    body {
    font-family: Chivo, Helvetica, Arial, sans-serif;
    }

    .page-header {
        color: #fff;
        text-align: center;
      /*
        background-color: #159957;
        background-image: linear-gradient(120deg, #155799, #159957);
      */
      
      /* from http://uigradients.com/ */
      background: #5C258D; /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(120deg, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }</style>

    <main id="content" class="main-content" role="main">
          <h2 id="screenshots">Screenshots</h2>
          <p><img src="https://fetloader.xyz/dark.png"> <img src="https://fetloader.xyz/light.png"></p>
          <h2 id="features">Features</h2>
          <ul>
            <li>Web UI</li>
            <li>Custom repositories w/ cheats</li>
            <li>Big cheats library (no)</li>
            <li>Opensource</li>
            <li>A more shitcode</li>
          </ul>
          <h2 id="how-to-compile">How to compile</h2>
          <ul>
            <li>Clone the repository with the command <code>git clone https://gitlab.com/FETLoader/FETLoader | cd fet-loader | git submodule update --init --recursive</code></li>
            <li>Run <code>COMPILE.bat</code></li>
          </ul>
          <h2 id="contributing">Contributing</h2>
          <p>Any contributions you make are <strong>greatly appreciated</strong>.</p>
          <ol>
            <li>Fork the Project</li>
            <li>Create your Feature Branch (<code>git checkout -b feature/AmazingFeature</code>)</li>
            <li>Commit your Changes (<code>git commit -m &#39;Add some AmazingFeature&#39;</code>)</li>
            <li>Push to the Branch (<code>git push origin feature/AmazingFeature</code>)</li>
            <li>Open a Pull Request</li>
          </ol>
          <h2 id="credits">Credits</h2>
          <ul>
            <li>Loader: <a href="https://clownless.xyz">clownless</a> &amp; <a href="https://rf0x3d.su">rf0x3d</a> &amp; <a href="https://t.me/iluvureyes">iluvureyes</a></li>
            <li>Inject_Dll: <a href="https://github.com/Fooly-Cooly">Brian Baker</a></li>
            <li>Neutron: <a href="https://github.com/G33kDude/Neutron.ahk">G33kDude</a></li>
            <li>ExternalModuleBypasser: <a href="https://github.com/0x000cb">0x000cb</a></li>
            <li>VAC-Bypass-Loader: <a href="https://github.com/danielkrupinski/VAC-Bypass-Loader">danielkrupinski</a></li>
            <li>Ahk2Exe: <a href="https://github.com/AutoHotkey/Ahk2Exe">AutoHotkey</a></li>
            <li>Translation: <a href="https://github.com/Gl1c1n">Gl1c1n</a></li>
            <li>Web-UI: <a href="https://github.com/toxyxd">toxyxd</a></li>
            <li>Custom repo: <a href="https://github.com/oliyase">zrn1x</a></li>
            <li>Big thanks to MORGENSHTERN and his tracks</li>
          </ul>
          <h2 id="license">License</h2>
          <p>Distributed under the MIT License. See <code>LICENSE</code> for more information.</p>
          <span class="site-footer-owner">Copyright © 2021 <a href="https://clownless.xyz">clownless</a> All rights reserved.</span>
    </main>
  </body>
</html>
